.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 40px;
}

.App-link {
  color: #61dafb;
}
.button {
  cursor: pointer;
  border: 1px solid;
}
.previous-text-color-text {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}
.color-text {
  font-size: 16px;
}
.input-field {
  margin-bottom: 10px;
  height: 30px;
  width: 180px;
  font-size: 16px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
